*{
    
    box-sizing: border-box;
}
.chessboard{
    border: 1px solid black;
    padding: 0px;
    height: 800px;
    width: 800px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.chessboard>div{
    margin: 0px;
    padding:0;
    height: 99px;
    width: 99px;
}
.black{
    background-color:black ;
}